<div class="project" id=project>
  <%= link_to path, 'data-no-turbolink' => true do %>
    <div class="project-image" style="background-image:url(<%= asset_path(project + '.png') %>)"></div>
  <% end %>

  <div class="dropdown-bar">
    <%= link_to project,
            path,
            'data-no-turbolink' => true,
            :class => "link"
    %>

    <div class="triangle"></div>

    <div class="to-drop height-0">
      <% if project == "kaleidosine" %>
        todo: connect synth javascript file so that it makes a tone when corners touch. Uses three.js and web audio api.
      <% elsif project == "dots" %>
        A simple experiment with css animations and mouseover. todo: add controls and palettes
      <% elsif project == "saturate" %>
        An experiment inspired by Moiré patterns and css transitions. todo: fix the way layer selection works
      <% end %>
    </div>

  </div>
</div>