
<%= link_to path, 'data-no-turbolink' => true do %>

    <div class="project song" data-song=<%= song %>>
      <div class="project-image" style="background-image:url(<%= asset_path(song + '.png') %>)">
        <div class="play-button"></div>
      </div>

<% end %>


<div class="dropdown-bar">

        <div class="link inline-block"><%= song %></div>

        <div class="triangle"></div>

        <div class="to-drop height-0">
            song stuff goes here
        </div>

      </div>
    </div>

