<div class="base">
  <div class="bg-gradient">

    <div class="main">
      <div class="stripe"></div>

      <div class="left-column">

          <div class="top-text">
                <span class="title" id="projects">Projects</span>
            </div>

            <%= render partial: "project", locals: {project: "kaleidosine", path: kaleidosine_path} %>
            <%= render partial: "project", locals: {project: "dots", path: dots_path} %>
            <%= render partial: "project", locals: {project: "saturate", path: saturate_path} %>

        </div>
        <div class="right-column">
          <span class="title right " id="andrewlngdn">andrewlngdn</span>
        </div>

      </div>
  </div>
</div>

<footer>
  background by Eonscintilla
</footer>


<script>
    staticPages.init();
</script>


