<script src="http://connect.soundcloud.com/sdk.js"></script>

<div class="base">
  <div class="bg-gradient">

    <div class="main">
      <div class="stripe"></div>

      <div class="left-column">

          <div class="top-text">
                <span class="title" id="projects">Projects</span>
            </div>

            <%= render partial: "project", locals: {project: "kaleidosine", path: kaleidosine_path} %>
            <%= render partial: "project", locals: {project: "dots", path: dots_path} %>
            <%= render partial: "project", locals: {project: "saturate", path: saturate_path} %>

        </div>
        <div class="right-column">
          <span class="title right " id="andrewlngdn">andrewlngdn</span>
        </div>

      </div>
  </div>
</div>

<footer>
  background by Eonscintilla
</footer>


<script>
    staticPages.init();
</script>


<script>
    SC.initialize({
        client_id: 'de925f065dafa57b3847a539ad7e84b6'
    });

    // stream track id 293
    SC.stream("/tracks/72671937", function(sound){
//        sound.play();
    });
    SC.get("/tracks/72671937", function(track){
       console.log(track["artwork_url"]);
    });
</script>

