<div class="base">
  <div class="main">

    <div class="title">Projects</div>

    <div class="project" id="kaleidosine">
      <%= link_to saturate_path, 'data-no-turbolink' => true do %>
        <div class="project-image"></div>
      <% end %>
      <%= link_to "kaleidosine", kaleidosine_path, 'data-no-turbolink' => true %>
    </div>

    <div class="project" id="saturate">
      <%= link_to saturate_path, 'data-no-turbolink' => true do %>
        <div class="project-image"></div>
      <% end %>
      <%= link_to "saturate", saturate_path, 'data-no-turbolink' => true %>
    </div>

  </div>
</div>