<html>
<head>
	<script src="rAF.js"></script>
	<script src="keyboard.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://rawgithub.com/mrdoob/three.js/master/build/three.js"></script>
	<script src="kaleidosine.js"></script>
</head>
<body>
</body>
<script>Kaleidosine.init()</script>
</html>