body, html {
  height: 100%;
}

.left-column {
  max-width: 580px;
  padding-top: 40px;
  height: 100%;
  float: left;
}

.right-column {
  padding-top: 40px;
  box-sizing: border-box;
  width: 187px;
  height: 100%;
  float: right;
  border-left: 1px solid rgb(65, 65, 65);
}

footer {
  background-color: #222;
  color: #444;
}

.base {
  height: 100%;
  background-image: image-url("bg-dark.png");
}

.main {
  box-sizing: border-box;

  padding: 0px 20px 0px 10px;
  background-color: rgba(54, 53, 53, 0.9);
  width: 85%;
  max-width: 800px;
  height: 100%;

  margin: auto;
}

span.title {
  cursor: default;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 10px;
  //color: #AAA;
  color: rgba(170, 170, 170, 0.85);
}

#andrewlngdn {
  color: rgba(83,83,83,0.85);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  &:hover{
    color: rgba(170, 170, 170, 0.85);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
}

.right {
  float:right;
}

.project {
  display:inline-block;
  margin: 10px;

  .project-image {
    opacity: 0.5;
    width: 150px;
    height: 90px;
    background-color: #333;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    -webkit-transition: border-color 0.2s, opacity 1.5s;
    transition: border-color 0.2s, opacity 1.5s;
    &:hover{
      opacity: 1;
      border-color: #00d4f4;
      -webkit-transition: border-color 0.2s, opacity 1.5s;
      transition: border-color 0.2s, opacity 1.5s;
    }
  }
}

a.link {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: #bbb;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: #27aab8;
    -webkit-transition: color 1s;
    transition: color 1s;
    border-color: #27aab8;

  }
  &:visited{
    color: #bbb;
  }
}

